%%{mode, max}.
{mode, {rate, 1}}.

{duration, 10}.
{report_interval,1}.

{concurrent, 5000}.

{driver, basho_bench_driver_rtevent}.

{key_generator, {function, basho_bench_driver_rtevent, rand_op, []}}.

{value_generator, {function, basho_bench_driver_rtevent, rand_key, []}}.

{operations, [{request, 1}]}.

{nodes, ['ejabberd_default@192.168.42.2', 'ejabberd_default@192.168.42.3']}.
